<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Urlshortener Web Application</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <div class="row mx-auto">
            <form action="/convertToShortUrl" method="post" class="mt-5">
                <div class="d-grid col-6 mx-auto">
                    <h1 class="alert alert-secondary" style="text-align: center;">URL Shortener Application</h1><br>
                    <input class="form-control" type="url" name="longUrl" id="longUrl" placeholder="Type the long url to shorten here" required><br>
                    <button class="btn btn-dark btn-md" type="submit">Convert to Short Url</button>
                </div>
            </form>

            <div>
                <h3 class="mt-5 text-center">List of URLs Entered</h3><hr>
                <table class="table table-striped table-hover table-responsive">
                    <thead>
                        <tr>
                        <th scope="col">Long URL</th>
                        <th scope="col">Short URL</th>
                        <th scope="col">No. of Visits</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% shortUrls.forEach(shortUrl => { %>
                            <tr>
                                <td><a href="<%= shortUrl.longUrl %>" target="_blank"><%= shortUrl.longUrl %></a></td>
                                <td><a href="<%= shortUrl.shortUrl %>" target="_blank"><%= shortUrl.shortUrl %></a></td>
                                <td><%= shortUrl.visitCount %></td>
                            </tr>
                        <% }) %>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>
</html>